.main.main--docs-home {

	.docs-jump {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__tile {
			width: 100%;
			box-sizing: border-box;
			background: $background-2;
			text-align: center;
			border-radius: 4px;
			margin-bottom: 25px;

			@include bp-medium {
				width: 48.5%;
			}

			@include bp-large {
				width: 31.5%;
			}

			@include icon(48px, $primary-color, auto, auto) {
				margin-bottom: 20px;
				display: block;
			}

			&__link {
				text-decoration: none;
				padding: 40px 20px;
				display: block;

				&:hover,
				&:active {
					@include icon-fill($secondary-color);
				}
			}

			&__title {
				font-size: 1.5em;
			}
		}
	}
}

.main.main--docs-page {
	padding: 30px 0;

	.main-feature {
		background: $background-2;
		margin-bottom: 40px;

		&__parent {
			margin: 0 0 10px 0;

			&__link {
				font-size: 1.3em;
				font-family: $alt-font-stack;

				&:link,
				&:visited {
					color: $alt-font-color-1;
				}

				&:hover,
				&:active {
					text-decoration: none;
					color: $secondary-color;
				}
			}

			@include icon(14px, $alt-font-color-2, 0, 5px);
		}
	}

	.page-content {

		h1 {
			font-size: 1.8em;
			font-family: $alt-font-stack;
			font-weight: 600;
		}

		h2 {
			font-size: 1.5em;
			font-family: $alt-font-stack;
			font-weight: 600;
		}

		h3 {
			font-size: 1.3em;
		}

		h4 {
			font-size: 1.1em;
		}

		img {
		    max-width: 34em;
		    border: 5px solid $background-2;
			border-radius: $radius;
		}
	}

	table {
	    border: 1px solid $border-1;
	    border-radius: 6px 6px 6px 6px;
	    margin: 10px;
	    border-spacing: 0px;
	}

	td {
	    border-top: 1px solid $border-1;
	    padding: 5px 5px 5px 5px;
	}

	.toc {
	    border: 1px solid $border-1;
	    border-radius: 6px 6px 6px 6px;
	    margin: 10px;
	    border-spacing: 0px;
	    padding: 10px;
	  	width: auto;
		float: right;

		&:empty {
			display: none;
		}
	}

	.clickable-header {
	  cursor:pointer;

	  &:hover {
		  text-decoration: underline;
	  }
	}

	.top-level-header {
	  display:inline;
	}

	.back-to-top {
	  margin-left:5px;
	  cursor:pointer;
  	}

	.edit-page {
		margin-top: 30px;
		border-top: 1px solid $border-3;
		padding-top: 15px;

		@include icon(16px, $alt-font-color-1, 5px, 0);

		&__link {
			color: $alt-font-color-1;
			text-decoration: none;
			padding: 5px 10px;

			&:hover, &:active {
				color: $secondary-color;

				@include icon-fill($secondary-color);
			}
		}
	}

	.category-list {
		list-style: none;
		margin: 0;
		padding: 0;

		&__item {
			padding: 12px 0;
			border-bottom: 1px solid $border-1;

			&__link {
				display: block;
				text-decoration: none;
			}

			&__title {
				margin: 0;
				font-size: 1.6em;
				font-weight: normal;
			}

			&__description {
				font-size: 0.9em;
				margin: 0;
				color: $alt-font-color-1;
			}

			&:last-child {
				border: none;
			}
		}
	}

	.eol-notice {
		width: 95%;
		background: #ff9c9c;
		border-radius: 4px;
		padding:20px;
		border:2px solid #ff0000;
		margin-right:20px;
		margin-bottom:30px;

		&__heading {
			font-size: 2em;
			color: black;
		}
	}
}

.js {

	.main.main--docs-page {

		.main-feature .wrapper {
			padding-top: 90px;
		}
	}
}
