article.docs {

	.page {

		h1 {
			font-size: 1.5em;
		}

		h2 {
			font-size: 1.3em;
		}

		h3 {
			font-size: 1.1em;
		}

		h4 {
			font-size: 1em;
		}

		img {
		    max-width: 34em;
		    border: 5px solid #eee;
		}
	}

	table {
	    border: 1px solid #DFDFDF;
	    border-radius: 6px 6px 6px 6px;
	    margin: 10px;
	    border-spacing: 0px;
	}

	td {
	    border-top: 1px solid #DFDFDF;
	    padding: 5px 5px 5px 5px;
	}

	code {
	    display: inline-block;
	    border: 1px solid #DFDFDF;
	    padding: 3px;
	    border-radius: 4px 4px 4px 4px;
	    background: #F7F8FC;
	}

	.toc {
	    border: 1px solid #DFDFDF;
	    border-radius: 6px 6px 6px 6px;
	    margin: 10px;
	    border-spacing: 0px;
	    padding: 10px;
	  	width: auto;
		float: right;

		&:empty {
			display: none;
		}
	}

	.clickable-header {
	  cursor:pointer;

	  &:hover {
		  text-decoration: underline;
	  }
	}

	.top-level-header {
	  display:inline;
	}

	.back-to-top {
	  margin-left:5px;
	  cursor:pointer;
  	}

	.edit-page {
		margin-top: 30px;
		border-top: 1px solid $border-1;
		padding-top: 15px;

		@include icon(16px, $alt-font-color-1, 10px, 0);

		.edit-page-link {
			color: $alt-font-color-1;
			text-decoration: none;
			padding: 5px 10px;

			&:hover, &:active {
				color: $secondary-color;
			}
		}
	}

	.jump {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__tile {
			width: 100%;
			box-sizing: border-box;
			background: $background-2;
			text-align: center;
			border-radius: 4px;
			margin-bottom: 25px;

			@include bp-medium {
				width: 47%;
			}

			@include bp-large {
				width: 30%;
			}

			@include icon(48px, $primary-color, auto, auto) {
				margin-bottom: 20px;
			}

			&__link {
				text-decoration: none;
				padding: 40px 20px;
				display: block;
			}

			&__title {
				font-size: 1.5em;
			}
		}
	}

	.category-list {
		list-style: none;
		margin: 0;
		padding: 0;

		&__item {
			padding: 10px;
			border-bottom: 1px solid $border-1;

			&__link {
				display: block;
				text-decoration: none;
			}

			&__title {
				margin: 0;
				font-size: 1.4em;
				font-weight: normal;
			}

			&__description {
				font-size: 0.9em;
				margin: 0;
				color: $alt-font-color-1;
			}

			&:last-child {
				border: none;
			}
		}
	}

	.eol-notice {
		width: 95%;
		background: #ff9c9c;
		border-radius: 4px;
		padding:20px;
		border:2px solid #ff0000;
		margin-right:20px;
		margin-bottom:30px;

		&__heading {
			font-size: 2em;
			color: black;
		}
	}
}
