.main--download {
    padding-bottom: 0;
}

.download-block {
    line-height: 1.4;

    .wrapper {
		padding: 20px 0;
	}

    &--latest-version {
        padding-bottom: 20px;
    }

    &--connect {
        background: $primary-color;
        color: $invert-font-color;
        padding: 15px 0;

        &__title {
            font-family: $alt-font-stack;
            font-weight: normal;
            margin: 0 20px 5px 0;
            color: $invert-font-color;
            font-size: 1.8em;

            @include bp-medium {
                margin: 0 20px 15px 0;
                display: inline-block;
            }
        }

        &__description {
            color: $alt-font-color-1;
            margin: 0 0 15px 0;
            color: $invert-font-color;
            opacity: 0.8;

            @include bp-medium {
                margin: 0;
                display: inline-block;
            }
        }
    }

    &--more {
        background: $background-2;

        &__title {
            font-family: $alt-font-stack;
            font-weight: normal;
            font-size: 1.8em;
        }
    }

    &--previous-versions {

        &__title {
            font-family: $alt-font-stack;
            font-weight: normal;
            font-size: 1.5em;
            margin: 20px 0 10px 0;
        }

        &__description {
            color: $alt-font-color-1;
			font-size: 1.1em;
			margin: 0;
			padding: 0;
        }

        &__button .button {
            margin: 20px 0;
        }
    }
}

.latest-version {

    &__title {
        @extend .main-feature__page-title;
    }

    &__download {

        &__link.button {
            margin: 0;
            padding: 15px 20px;
            font-size: $font-large;

            @include bp-medium {
                font-size: $font-larger;
            }

            @include icon(28px, $invert-font-color, 10px, 0);
        }
    }

    &__details {
        margin: 20px 0 10px 0;

        &__item {
            display: inline-block;
            margin: 0 8px 10px 0;
            padding: 2px 10px;
            font-size: 13px;
            background: $background-2;
            border-radius: $radius;
            text-transform: uppercase;
            color: $alt-font-color-1;
        }
    }

    &__actions {

        &__item {
            display: inline-block;
            margin: 0 20px 10px 0;

            &__link {
                @include icon(18px, $alt-font-color-2, 4px, 0);
            }
        }
    }
}


.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__button {
        margin: 0 20px 0 0;

        .button.button--secondary {
            margin: 0;
            font-size: $font-smallest;
            padding: 0 10px 0 8px;

            @include icon(16px, $primary-color, 4px, 0);
        }

        &--twitter {
        }
    }
}

.download-more-block {
    width: 100%;

    @include bp-large {
        width: 28%;
    }

    &__title {
        font-family: $alt-font-stack;
        font-weight: normal;
    }

    &__description {
        font-size: $font-small;
    }

}

.sidebar-download {
    margin-bottom: 30px;

    &__button {
        margin-bottom: 0;

        .button {
            display: block;
            text-align: center;
            margin: 0;
        }
    }

    &__details {
        text-align: center;
        color: $alt-font-color-1;
        font-size: $font-smallest;
    }
}
