    <footer class="footer">
        <div class="wrapper">
            <nav class="footer__nav footer__nav--internal">
                <ul class="footer__nav__links">
                    <li class="footer__nav__links__item">
                        <a href="{{ site.baseurl }}/about/" class="footer__nav__links__item__link">MyBB Project</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="{{ site.baseurl }}/get-involved/" class="footer__nav__links__item__link">Get Involved</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="{{ site.baseurl }}/support/" class="footer__nav__links__item__link">Support</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="{{ site.baseurl }}/contact/" class="footer__nav__links__item__link">Contact</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__nav footer__nav--social">
                <ul class="footer__nav__links">
                    <li class="footer__nav__links__item">
                        <a href="https://github.com/mybb" class="footer__nav__links__item__link">{% include icon.html icon='github' %} mybb</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="https://facebook.com/mybboard" class="footer__nav__links__item__link">{% include icon.html icon='facebook-square' %} mybboard</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="https://twitter.com/mybb" class="footer__nav__links__item__link">{% include icon.html icon='twitter' %} @mybb</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="https://twitter.com/mybbsecurity" class="footer__nav__links__item__link">{% include icon.html icon='twitter' %} @mybbsecurity</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <div class="copyright">
        Copyright &copy; 2002-{{ site.time | date: '%Y' }} MyBB Group
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/libs/jquery-3.2.1.min.js"><\/script>')</script>
    <script defer src="{{ site.baseurl }}/assets/js/plugins.js"></script>
	<script defer src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>
</html>
