@mixin button-theme(
    $color, // background color
    $color-text: $invert-font-color, // text color
    $color-border: $color, // border color
    $color-hover: $secondary-color, // hover background color
    $color-text-hover: $invert-font-color, // hover text color
    $color-border-hover: $color-hover) { // hover border color

    @content;

    &,
    &:link,
    &:visited {
        color: $color-text;
        background-color: $color;
        border-color: $color-border;
    }

    &:hover {
        color: $color-text-hover;
        background-color: $color-hover;
        border-color: $color-border-hover;
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 4px 10px;
    font-size: 0.9em;
    line-height: 26px;
    border: 1px solid;
    border-radius: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    &:hover {
        text-decoration: none;
        outline: none;
        cursor: pointer;
    }

    @include button-theme($primary-color);

    &__icon {
        margin-#{$right}: 8px;

        &.button__icon--after {
            margin-#{$right}: 0;
            margin-#{$left}: 8px;
        }
    }

    $theme-secondary: (
        'color': $background-default,
        'color-text': $primary-color,
        'color-border': $border-1,
        'color-hover': $background-default,
        'color-text-hover': $secondary-color,
        'color-border-hover': $border-1
    );

    &--secondary {
        @include button-theme($theme-secondary...);
    }

    $theme-invert: (
        'color': $background-default,
        'color-text': $primary-color,
        'color-border': $background-default,
        'color-hover': $background-default,
        'color-text-hover': $secondary-color,
        'color-border-hover': $background-default
    );

    &--invert {
        @include button-theme($theme-invert...);
    }

    $theme-danger: (
        'color': $background-default,
        'color-text': $danger-color,
        'color-border': $border-1,
        'color-hover': $danger-color
    );

    &--danger {
        @include button-theme($theme-danger...);
    }

    $theme-success: (
        'color': $background-default,
        'color-text': $success-color,
        'color-border': $border-1,
        'color-hover': $success-color
    );

    &--success {
        @include button-theme($theme-success...);
    }

    $theme-basic: (
        'color': transparent,
        'color-text': $alt-font-color-1,
        'color-border': transparent,
        'color-hover': transparent,
        'color-text-hover': $secondary-color
    );

    &--basic {
        @include button-theme($theme-basic...) {
            padding: 4px 4px;
        }
    }

    &--inline {
        padding: 3px 10px;
        font-size: 0.9em;
        margin: side-values(0 0 0 5px);
        vertical-align: top;
    }

    @include bp-medium-max {

        &--full-width {
            padding: 8px 10px;
            width: 100%;
            margin: 5px 0;
            box-sizing: border-box;
        }

        &--half-width {
            padding: 8px 10px;
            width: 49%;
            float: $left;
            box-sizing: border-box;

            &:nth-child(odd) {
                margin-#{$left}: 0;
                margin-#{$right}: 1%;
            }

            &:nth-child(even) {
                margin-#{$left}: 1%;
                margin-#{$right}: 0;
            }
        }
    }

    &--small {
        padding: 0 8px;
        font-size: 0.9em;
        margin: side-values(0 5px 0 0);
        vertical-align: top;
    }

    &--medium {
        font-size: 1em;
		padding: 6px 12px;
    }

    &--big {
        font-size: 1.1em;
		padding: 8px 16px;

        .button__icon {
            margin-#{$right}: 12px;
        }
    }
}
