pre, pre.highlight {
    padding: 4px 6px;
    background: $background-2;
    border-radius: $radius;
    font-family: monospace;

    code {
        padding: 0;
        display: unset;
    }
}

code {
    padding: 0 6px;
    background: $background-2;
    border-radius: $radius;
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}
