.form {
    border: 1px solid $border-1;
    margin-bottom: 40px;
    border-radius: 4px;

    &--alt {
        border: none;
        background-color: $background-2;
    }

    &--delete {
        padding: 16px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .form__submit {
            background: none;
        }
    }

    .buttons {
        margin: -5px;
    }

    &__submit {
        border-radius: corner-values(0 0 $radius $radius);
        background: $background-1;
        text-align: center;
        padding: 10px 0;
    }
}
