.main-feature {
	line-height: 1.3;

	.wrapper {
		padding: 20px 0;
		margin-bottom: 20px;
		// border-bottom: 1px solid $border-1;
		box-sizing: border-box;
	}

	&__page-title {
		font-weight: 400;
		font-size: 2.6em;
		margin: 0 0 20px 0;
		color: $font-color;
		font-family: $alt-font-stack;
	}

	&__description {
		font-size: 1.3em;
		line-height: 1.6em;
		font-weight: 400;
		color: $alt-font-color-1;
		margin: 0 0 10px 0;
	}
}
