.rfcs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid $border-1;

    &__item {
        padding: 12px 0;
        border-bottom: 1px solid $border-3;

        &__number {
            float: right;
            font-size: $font-small;
            margin-left: 20px;

            &__link {

                @include links {
                    color: $alt-font-color-2;
                }
            }
        }

        &__title {
            margin: 0;
            font-size: $font-regular;
            font-weight: normal;
        }

        &__date {
            margin: 0;
            color: $alt-font-color-2;
            font-size: $font-smallest;
        }
    }
}
