.version-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid $border-1;

    &__item {
        padding: 12px 0;
        border-bottom: 1px solid $border-3;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__download {
            margin: 0;
            text-align: right;
        }

        h2.version-list__item__number {
            margin: 0 10px 0 0;
            font-size: $font-regular;

            @include bp-medium {
                display: inline-block;
            }
        }

        &__date {
            margin: 0 10px 0 0;
            color: $alt-font-color-2;
            font-size: $font-smallest;

            @include bp-medium {
                display: inline-block;
            }
        }

        &__latest {
            display: inline-block;
            margin: 0;
            padding: 0 8px;
            font-size: 13px;
            background: $background-2;
            border-radius: $radius;
            text-transform: uppercase;
            color: $alt-font-color-1;
        }

        &__type {
            margin: 0;
            font-size: $font-smallest;
            color: $alt-font-color-1;
        }
    }
}

.version-list-eol-note {
    @include note($background-2);
    border-color: $danger-color;
    @include icon-fill($danger-color);
}
