.block {
	margin-bottom: 40px;

	&--markdown,
	&--basic {

		h1 {
			color: $font-color;
			font-weight: 600;
			margin: 2em 0 0.5em 0;
			font-size: 1.5em;
			font-family: $alt-font-stack;

			&:first-child {
				margin-top: 0;
			}
		}

		h2 {
			color: $alt-font-color-4;
			font-size: 1.2em;
			font-family: $alt-font-stack;
			font-weight: 600;
			margin: 0.5em 0 0.5em 0;
		}

		h3 {
			color: $alt-font-color-1;
			font-size: 1em;
			font-family: $alt-font-stack;
			font-weight: 600;
		}
	}

	// p {
	// 	margin: 0 0 20px 0;
    //
	// 	&:last-child {
	// 		margin: 0;
	// 	}
	// }

	&--symbol {
		display: grid;
		grid-template-columns: 70px auto;
	}

	&__icon {
		grid-column: 1;
		width: 50px;

		svg {
			max-height: 40px;

			* {
				fill: #ccc;
			}
		}
	}

	&__content {
		grid-column: 2;
		padding-top: 7px;
		vertical-align: top;
	}

	&__heading {
		margin-bottom: 10px;

		&__title {
			color: $font-color;
			font-weight: 600;
			padding: 0;
			margin: 0 0 0.5em 0;
			font-size: 1.5em;
			font-family: $alt-font-stack;
		}

		&__subtitle {
			color: $alt-font-color-4;
			font-size: 1.1em;
			margin: 10px 0 0 0;
			padding: 0;
		}
	}

	&__container {

		p {
			margin: 0 0 15px 0;

			&:last-child {
				margin: 0;
			}
		}
	}

 	& > h3, &__content > h3 {
		font-size: 1.1em;
		margin: 1.5em 0 0 0;
	}

 	& > h3 + p, &__content > h3 + p {
		margin-top: 0.5em;
	}

	& > ul li {
		margin: 0.5em 0;
	}

	&__action {
		@include icon(16px, currentColor, 4px, 0);

		.button {
			margin: 0;
		}
	}

	.github-buttons {
		float: $right;
		margin-top: 2px;
	}
}
