// Font Stack
$font-stack: 'Open Sans', sans-serif;
$alt-font-stack: 'Asap', sans-serif;

$font-smallest: 1.4rem; // 14px
$font-small: 1.6rem; // 16px
$font-regular: 1.8rem; // 18px
$font-large: 2rem; // 20px
$font-larger: 2.4rem; // 24px
$font-largest: 3.6rem; // 36px
